// global.scss
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "./utils.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	// font-style: normal;
}

html,
body {
	height: 100vh;
	width: 100vw;
}

/* Figma Styles of your File */
:root {
	/* Colors */
	--neutrals-0: #0d0d0d;
	--neutrals-1: #3b3b3b;
	--neutrals-2: #666666;
	--neutrals-3: #808080;
	--neutrals-4: #b3b3b3;
	--neutrals-5: #cccccc;
	--neutrals-6: #d9d9d9;
	--neutrals-7: #e6e6e6;
	--neutrals-8: #f2f2f2;
	--neutrals-85: #f5f5f5;
	--neutrals-9: #ffffff;
	--accent-red: #ae0909;
	--accent-red-lite: #fee7e7;
	--accent-red-dark: #7e0707;
	--accent-red-dull: #fccfcf;
	--accent-green: #067966;
	--accent-green-lite: #cbe8df;
	--accent-green-dark: #055c4e;
	--accent-green-dull: #eefbf4;
	--accent-yellow-dark: #c2780a;
	--accent-yellow: #f5ab3d;
	--accent-yellow-lite: #fef5e7;
	--accent-yellow-dull: #fceacf;
	--accent-purple: #5c3df5;
	--accent-purple-lite: #ebe7fe;
	--accent-purple-dark: #290ac2;
	--accent-purple-dull: #d6cffc;

	--primary-0: #061a79;
	--primary-1: #081f91;
	--primary-2: #0916aa;
	--primary-3: #0916aa;
	--primary-4: #0b2eda;
	--primary-5: #2547f4;
	--primary-6: #6e85f7;
	--primary-7: #9eadfa;
	--primary-8: #cfd6fc;
	--primary-9: #f0f3fe;

	/* Gradients */
	--gradient-button: linear-gradient(
		120deg,
		rgba(22, 51, 163, 1) 12.95%,
		rgba(166, 43, 16, 1) 100%
	);
	--gradient-button-hover: linear-gradient(
		119deg,
		rgba(22, 51, 163, 1) 12.95%,
		rgba(166, 43, 16, 1) 100%
	);
	--gradient-new: linear-gradient(
			121deg,
			rgba(22, 51, 163, 1) 12.95%,
			rgba(231, 65, 65, 1) 100%
		),
		linear-gradient(to left, #2b3ca1, #2b3ca1);
	--fm-1: "Patrick Hand", cursive;
	--fm-2: font-family: "Unbounded", sans-serif;
}

#root {
	height: 100%;
}

// input[type=number]::-webkit-inner-spin-button --> hide the spin button in input type number in webkit browsers
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Headings */
%base-heading {
	@include base-styles(700, normal, var(--neutrals-0));
}

.full-width {
	width: 100%;
	padding: 0 16px;
}

.h-lg {
	@extend %base-heading;
	font-size: 36px;
	@include responsive-font-size(
		(36px, 32px, 32px, 28px, 28px, 24px)
	);
}
.h {
	@extend %base-heading;
	font-size: 28px;
	@include responsive-font-size(
		(28px, 24px, 24px, 24px, 24px, 20px)
	);
}
.h-md {
	@extend %base-heading;
	font-size: 24px;
	@include responsive-font-size(
		(24px, 20px, 20px, 20px, 20px, 16px)
	);
}
.h-sm {
	@extend %base-heading;
	font-size: 20px;
	@include responsive-font-size(
		(24px, 16px, 16px, 16px, 16px, 14px)
	);
}

/* Text Styles */
%base-text {
	@include base-styles(400, normal, var(--primary-color));
}

.t-lg {
	@extend %base-text;
	font-size: 20px;
	line-height: 160%;
	@include responsive-font-size(
		(20px, 20px, 20px, 16px, 16px, 16px)
	);
}
.t-md {
	@extend %base-text;
	font-size: 16px;
	line-height: 160%;
	@include responsive-font-size(
		(16px, 16px, 16px, 14px, 14px, 14px)
	);
}
.t-sm {
	@extend %base-text;
	font-size: 14px;
	line-height: 160%;
	@include responsive-font-size(
		(14px, 14px, 14px, 12px, 12px, 12px)
	);
}

.t-xsm {
	@extend %base-text;
	font-size: 12px;
	line-height: 160%;
	@include responsive-font-size(
		(12px, 12px, 12px, 10px, 10px, 10px)
	);
}

// Util Styles

%base-util {
	@include base-styles(300, normal, var(--primary-color));
}
.u-lg {
	@extend %base-util;
	font-size: 16px;
	@include responsive-font-size(
		(16px, 16px, 16px, 16px, 16px, 14px)
	);
}

.u-md {
	@extend %base-util;
	font-size: 14px;
	@include responsive-font-size(
		(14px, 14px, 14px, 14px, 14px, 12px)
	);
}
.u-sm {
	@extend %base-util;
	font-size: 12px;
	@include responsive-font-size(
		(12px, 12px, 12px, 12px, 12px, 10px)
	);
}

.u-xsm {
	@extend %base-util;
	font-size: 10px;
	@include responsive-font-size(
		(10px, 10px, 10px, 10px, 10px, 8px)
	);
}

.btn-text {
	line-height: 160%;
	font-weight: 500;
	@extend %base-util;
	font-size: 14px;
	@include responsive-font-size(
		(14px, 14px, 14px, 14px, 14px, 12px)
	);
}

.PylonChat-bubbleFrameContainer {
	right: 20px !important;
	bottom: 100px !important;
}
.PylonChat-chatWindowFrameContainer {
	right: 20px !important;
	bottom: 100px !important;
}

@media screen and (max-width: 768px) {
	.PylonChat-bubbleFrameContainer {
		left: 10px !important;
		bottom: 80px !important;
	}
	.PylonChat-chatWindowFrameContainer {
		left: 10px !important;
		bottom: 80px !important;
	}
}
