.p-radio-group {
  width: 100%;
  @include flex-col(flex-start, flex-start);
  gap: 20px;
  &.error {
    border: 1px solid var(--accent-red, #c22929);
  }

  .p-radio-group__item {
    width: 100%;
    @include flex-col(flex-start, flex-start);
    gap: 14px;

    .p-radio-group__input {
      width: 100%;
    }
  }
}
